/*
Project Name: Relaxr
Client: Relaxr
Author: Madeleine Vironda
Developer @GA in London
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
	color: #000;
	font-family: 'Open Sans':300,400,600,800;
	line-height: 1.5;
}

/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container {
	margin: 0 auto;
	max-width: 90%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.intro {
	background: url("../images/header_bg.jpg") no-repeat center top rgb(134,141,157);
	background-size: cover;
	color: white;
	padding: 200px 0;
	text-align: center;
	top: 0;
	width: 100%;
}

.about {
	background: #f0efef;
	color: #606161;
	font-weight: 300;
	padding: 50px 0;
}

.testimonial {
	background: url("../images/testimonial_bg.jpg") no-repeat center bottom rgba(0,0,0,.2);
	background-size: cover;
	color: white;
	font-weight: 600;
	padding: 25px 0;
	text-align: center;
}

.blockquote {
	font-weight: 300;
	font-style: italic;
	padding: 0 100px;
	text-align: center;
}

.sign_up {
	background: #f9e42e;
	padding: 25px 0;
	text-align: center;
}

.one {
	background: #f9e42e;
	border: none;
	color: #033048;
	font-weight: 800;
	margin-top: 20px;
	padding: 10px 30px;
}

.two {
	background: #033048;
	border: none;
	color: white;
	font-weight: 800;
	padding: 10px 30px;
}

.logo {
	color: #f9e42e;
	font-size: 30px;
	font-weight: 800;
}

.blog {
	background: #f0efef;
}

.column {
	float: left;
}

.article {
	color: #606161;
	padding: 10px 10px;
	width: 70%;
}

.sidebar {
	color: #033048;
	font-weight: 300;
	padding: 2px 10px;
	width: 30%;
}

.ad {
	width: 70%;
}
 
.no_bullets {
	list-style-type: none;
	margin-left: -35px;
}

.article p::first-letter {
	float:left;
	font-size: 300%;
	padding-right: 5px;
	text-decoration: bold;
	text-transform: uppercase;
}

.article h2 {
	color: #033048;

}

header {
	background: #033048;
	color: white;
	font-weight: 800;
}

nav {
	float: right;
	padding: 20px 0 0 0;
}

nav li {
	color: #f9e42e;
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	list-style: none;
	margin: 0 10px;
}

nav a {
	color: #f9e42e;
}

a {
	border-radius: 5px;
	margin-bottom: 5px;
	text-align: center;
	text-decoration: none;
}

a:hover { 
    background-color: #606161;
    color: white;
}

i {
	color: white;
	font-size: 40px;
	padding: 10px 15px 30px 15px;
}

img {
	width: 100%;
}

hr {
	border-color: #f0efef;
	border-size: 1px;
	margin: 40px 0 0 0;
	width: 100%;
}

h1 {
	float: left;
}

h2 {
	font-weight: 600;
}

h3 {
	color: #033048;
	font-weight: 600;
}

h6 {
	color: #033048;
	float: right;
	font-size: 16px;
	font-weight: 600;
}

footer {
	background: #121212;
	color: white;
	clear: both;
	padding: 10px 0 10px 0;
	text-align: center;
}