/*
Project Name: Relaxr Landing Page
Client: Relaxr
Author: Madeleine Vironda
Developer @GA in London
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
	color: #000;
	font-family: Open Sans:300,400,600,800;
	line-height: 1.5;
}

/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container {
	margin: 0 auto;
	max-width: 90%;
	width: 1024px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.intro {
	background: url("../images/header_bg.jpg") no-repeat center top rgb(134,141,157);
	background-size: cover;
	color: white;
	padding: 200px 0;
	text-align: center;
	top: 0;
	width: 100%;
}

.about {
	background: #f0efef;
	color: #606161;
	font-weight: 300;
	padding: 50px 0;
}

.testimonial {
	background: url("../images/testimonial_bg.jpg") no-repeat center bottom rgba(0,0,0,.2);
	background-size: cover;
	color: white;
	font-weight: 600;
	padding: 25px 0;
	text-align: center;
}

.blockquote {
	font-weight: 300;
	font-style: italic;
	padding: 0 100px;
	text-align: center;
}

.sign_up {
	background: #f9e42e;
	padding: 25px 0;
	text-align: center;
}

.one {
	background: #f9e42e;
	border: none;
	color: #033048;
	font-weight: 800;
	margin-top: 20px;
}

.two {
	background: #033048;
	border: none;
	color: white;
	font-weight: 800;
}

.logo {
	color: #f9e42e;
	font-size: 30px;
	font-weight: 800;
}

header {
	color: white;
	font-weight: 800;
	padding: 20px 0 0 100px;
	position:absolute;
}

button {
	border-radius: 5px;
	padding: 10px 50px;
}

i {
	color: white;
	font-size: 40px;
	padding: 10px 15px 30px 15px;
}

h2 {
	font-weight: 600;
}

h3 {
	color: #033048;
	font-weight: 600;
}

h5 {
	font-size: 12px;
}

footer {
	background: #121212;
	color: white;
	padding: 10px 0 10px 0;
	text-align: center;
}

/* 
Relaxr Landing Page: Part 1
==================

We'll be working on this site for the next three classes, just a heads up.

For today, we'll be making a simplified version of the site which uses only one column. Your job is to build out the CSS - using the information below - for the page!

---

benefits background color: #f0efef
yellow: #f9e42e
dark blue: #033048
light grey: #606161
almost black: #121212

Font: Open Sans (Google Font: "https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,800")
Weight: Light, Light Italic, Semibold, Extrabold

"Relaxr" - Extra bold
"Get piece of mind with a single tap" - Semibold
"Get it Now" - Extra bold, 5px border radius
"Benefits" - Semibold
"The perfect personal assistant. Relaxr does your job for you so you can enjoy life as it is meant to be." - Light
• Schedule meetings for you
• Excel automation to complete your work for you
• Responds to emails on your behalf
• Does all your work for you with our revolutionary AI technology" - Light

"“Relaxr changed my life. I’ve been able to travel the world, spend limited time working and my boss keeps thanking me for crushing work.”" - Light Italic
"- Amanda, Intuit " - semibold

"Sign Up Now!" - extra bold, 5px border radius

Relaxr - extra bold
"Copyright 2015. Relaxr." - semibold








